body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 60px;
    background: rgba(244, 244, 244, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 60px;
}

header div {
    background-image: url("../img/Pipe.png");
    background-repeat: no-repeat;
    width: 685px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f4f4f4;

    font-size: 35px;
    font-weight: 700;
}

header button {
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    background-color: #e52521;
    width: 150px;
    height: 52px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 20px;
    width: 90%;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

main img {
    width: 200px;
    height: 200px;
}